/Assignment 8/struts_login/nbproject/private/
/Assignment 8/struts_login/build/
/Assignment 8/struts_login/dist/
/Assignment 10/bank/nbproject/private/
/Assignment 10/bank/bank-war/nbproject/private/
/Assignment 10/bank/bank-ejb/nbproject/private/
/Assignment 10/bank/bank-ejb/build/
/Assignment 10/bank/bank-war/build/
/Assignment 10/bank/bank-ejb/dist/
/Assignment 10/bank/bank-war/dist/
/Assignment 10/bank/build/
/Assignment 10/bank/dist/